@{
    ViewBag.Title = "Home Page";
    
}
<div class="row" >
    <div class="col-md-11" style="text-align:center;">
        <img src="~/imagen/PISSA 1.png" style="width:90%;height:75%;" />
    </div>
    
</div>
@*<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Actividades</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">@Html.Raw(ViewBag.actividades_totales)</h1>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Pedientes</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">@Html.Raw(ViewBag.pendientes)</h1>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Cerrados</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">@Html.Raw(ViewBag.cerrados)</h1>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
        <div class="card border-3 border-top border-top-primary">
            <div class="card-body">
                <h5 class="text-muted">Cancelados</h5>
                <div class="metric-value d-inline-block">
                    <h1 class="mb-1">@Html.Raw(ViewBag.cancelados)</h1>
                </div>
                <div class="metric-label d-inline-block float-right text-success font-weight-bold">

                </div>
            </div>
        </div>
    </div>
</div>*@